.root {
    /* Fondo general con un azul muy tenue */
    -fx-background-color: linear-gradient(to bottom right, #ffffff, #eef4fb);
}

/* El Header con Azul UV */
.header-container {
    -fx-background-color: linear-gradient(to right, #18529D, #2873cf);
    -fx-padding: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 5);
}

.titulo-ventana {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/* Panel central del formulario con bordes verdes claros */
.panel-formulario {
    -fx-background-color: white;
    -fx-padding: 30;
    -fx-spacing: 20;
    -fx-background-radius: 15;
    -fx-border-color: linear-gradient(to bottom, #28AD56, #82d6a1);
    -fx-border-width: 2;
    -fx-border-radius: 15;
    -fx-max-width: 550;
}

/* Etiquetas de sección con el verde UV */
.label-seccion {
    -fx-text-fill: #28AD56;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

/* Botones con degradados */
.button {
    -fx-background-radius: 20;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-padding: 10 30;
}

.btn-guardar {
    /* Degradado Verde UV */
    -fx-background-color: linear-gradient(to bottom, #28AD56, #218c46);
    -fx-effect: dropshadow(gaussian, rgba(40, 173, 86, 0.4), 10, 0, 0, 2);
}

.btn-guardar:hover {
    -fx-background-color: linear-gradient(to bottom, #2ec462, #28AD56);
}

.btn-cancelar {
    /* Degradado Gris/Azul para contraste o Rojo suave */
    -fx-background-color: linear-gradient(to bottom, #7f8c8d, #636e72);
}

.btn-cancelar:hover {
    -fx-background-color: #535c5e;
}

/* Campos de texto con foco azul UV */
.text-field:focused, .password-field:focused, .combo-box:focused {
    -fx-border-color: #18529D;
    -fx-border-width: 2;
    -fx-background-color: #f0f7ff; /* Fondo azul muy claro al escribir */
}

/* Clase para botones que son puramente iconos */
.btn-icono {
    -fx-padding: 0;           /* Elimina el espacio que empuja la imagen */
    -fx-background-insets: 0; /* Elimina bordes internos fantasma */
    -fx-min-width: 40;        /* Opcional: define un tamaño fijo si quieres */
    -fx-min-height: 40;
}